.env
.env.local
.env.*
node_modules
.next
.git
.gitignore
Dockerfile*
docker-compose*
README.md
cypress/
cypress.config.js
.scannerwork/
plantilla_productos.csv
build/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
