MYSQL_HOST=db
MYSQL_PASSWORD=tu_contrasena_ejemplo
MYSQL_DATABASE=software_2
JWT_SECRET=tu_clave_secreta_jwt
JWT_REFRESH_SECRET=tu_clave_secreta_refresh_jwt
DATABASE_URL="mysql://root:tu_contrasena_ejemplo@db:3306/software_2"

# Initial admin variables
INIT_ADMIN_RUT=11111111
INIT_ADMIN_NAME="Admin"
INIT_ADMIN_LASTNAME="Prueba"
INIT_ADMIN_PASSWORD="$$argon2i$$v=19$$m=16,t=2,p=1$$b2xCSFgxVzF1SnhZUGJySg$$HYmqPvP8tXr0XqSptyFTrA"
